@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  line-height: 2.3em;
  padding-top: 20px;
  background-image: url("./background.png");
}
.content {
  max-width: 600px;
  margin: auto;
}
.navi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navi li {
  float: left;
}

.navi li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navi li a:hover {
  background-color: #111;
}

.navi .active {
  background-color: #04aa6d;
}

#contact h2{
  display: block;
  color: #04aa6d;
  text-align: left;
  padding: 14px 2px;
  text-decoration: none;
}

#contact form button a{
  text-decoration: none;
  color: #ffffff;
}
