@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  line-height: 2.3em;
  padding-top: 20px;
  background-image: url("./background.png");
}

#navi {
  max-width: 75em;
  margin: auto;
}

.content {
  max-width: 600px;
  padding-top: 5em;
  margin: auto;
}

.content h1{
  padding: auto;
  padding-bottom: 1em;
}

